body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2b2929;
}

#welcome {
  font-family: "Lucida Handwriting";
  color: white;
  width: 80%;
  margin-left: 20%;
  margin-top: 5%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 20px;
  background-color: #3a3838;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #b7b4b4;
}
.input-fields label {
  margin-bottom: 10px;
  font-weight: bold;
  /*color: white;*/
  text-align: left;
}
.input-fields input[type="text"],
.input-fields input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-fields input[type="text"] {
  width: 80%;
  height: 100px;
  background-color: #797777;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4%;
  height: 100px;
  border-radius: 50%;
  background-color: #056208;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
}
.play-button:hover {
  background-color: #1ee22b;
}
.output-table {
  width: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.output-table table {
  width: 100%;
  border-collapse: collapse;
}
.output-table th,
.output-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}
.output-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#extract_iframe {
  width: 48%;
  margin-left: 10%;
  margin-top: 5%;
  border: none;
  height: 60%;
  text-align: center;
}

/*#dropzone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
}

#dropzone.highlight {
  background-color: #eee;
}*/
label[for="file-input"] {
  cursor: pointer;
  font-size: 80px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  width: 80%;
  height: 40%;
  text-align: center;
}

#file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
